* {
  font-family: "Rubik", sans-serif;
  text-align: center;
  color: #735751;
}

/* background animation */
.color-change-5x {
  animation: color-change-5x 8s linear infinite alternate both;
}

@keyframes color-change-5x {
  0% {
    background: #efd3d7;
  }
  25% {
    background: #cebebe;
  }
  50% {
    background: #d5b9b2;
  }
  75% {
    background: #e6ccb2;
  }
  100% {
    background: #ede0d4;
  }
}

/* name animation */
.tracking-in-expand {
  font-family: "Kumar One Outline", cursive;
  font-size: 4em;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.karl-intro {
  margin-top: -80px;
}

.headshot {
  width: 300px;
  opacity: 0.6;
  border-radius: 50%;
}

header {
  width: 100%;
  display: grid;
  justify-content: end;
}

.headerNav {
  display: flex;
  gap: 10px;
}

.nav {
  text-decoration: none;
  color: #735751;
}
