* {
  font-family: "Rubik", sans-serif;
  text-align: center;
}

/* background animation */
.color-change-3x {
  animation: color-change-3x 4s linear infinite alternate both;
}

@keyframes color-change-3x {
  0% {
    background: #52796f;
  }
  50% {
    background: #84a98c;
  }
  100% {
    background: #cad2c5;
  }
}

/* name animation */
.tracking-in-expand {
  font-family: "Monoton", cursive;
  font-size: 3em;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.karl-intro {
  margin-top: -50px;
}

.headshot {
  width: 300px;
  opacity: 0.6;
  border-radius: 50%;
}
